@page "/"
@using FlatBrutal.Ui.Styling

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<FbButton
  Variant="@FbButtonVariant.Danger"
  OnClick="@(() => Console.WriteLine("HOlaa"))">
  Mi botón
</FbButton>
